/* reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* debug rules */
.debug .menu {
    height: 100px;
    background-color: pink;
}

.debug .logo, #login {
    background-color: green;
}

.debug #nav {
    background-color: brown;
}
/* end debug header */

.debug main>div {
    height: 200px;
}

.debug #banner {
    background-color: blue;
}

.debug #chat {
    background-color: lightgrey;
}

.debug #voice {
    background-color: gray;
}

.debug #roles {
    background-color: lightgrey;
}

.debug #technology {
    background-color: gray;
}

.debug .container {
    background-color: white;
    opacity: 0.5;
}

.debug .preview {
    background-color: violet;
}

.debug .description {
    background-color: red;
}
/* end debug main */

.debug .contatti {
    height: 250px;
    background-color: lightblue;
}

.social {
    background-color: yellow;
}

.prodotto {
    background-color: rgb(255, 208, 0);
}

.compagnia {
    background-color: yellowgreen;
}

.risorse {
    background-color: orange;
}

.norme {
    background-color: orangered;
}


/* end debug footer */


/* common rules */
.container {
    width: 60%;
    height: 100%;
    margin: 0 20%;
}

.logo, #login {
    width: 20%;
    height: 100%;
    float: left;
}

#nav {
    width: 60%;
    height: 100%;
    float: left;
}

.preview, .description{
    height: 100%;
    float: left;
}

.preview {
    width: 60%;
}

.description {
    width: 40%;
}

.link {
    width: 15%;
    height: 100%;
}

.social {
    width: 40%;
}

.container>div {
    float: left;
}





