/* reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* debug rules */
.debug .menu {
    height: 100px;
    background-color: pink;
}

.debug .logo,.debug #login {
    background-color: green;
}

.debug #nav {
    background-color: brown;
}
/* end debug header */

.debug main>div {
    height: 500px;
}

.debug #banner {
    background-color: blue;
}

.debug #chat {
    background-color: lightgrey;
}

.debug #voice {
    background-color: gray;
}

.debug #roles {
    background-color: lightgrey;
}

.debug #technology {
    background-color: gray;
}

.debug .container {
    background-color: white;
    opacity: 0.5;
}

.debug .preview {
    background-color: violet;
}

.debug .description {
    background-color: red;
}
/* end debug main */

.debug .contatti {
    height: 250px;
    background-color: lightblue;
}

.debug .social {
    background-color: yellow;
}

.debug .prodotto {
    background-color: rgb(255, 208, 0);
}

.debug .compagnia {
    background-color: yellowgreen;
}

.debug .risorse {
    background-color: orange;
}

.debug .norme {
    background-color: orangered;
}
/* end debug footer */


/* common rules */
body {
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
}


header {
    width: 100%;
}

.menu {
    width: 80%;
    margin: 0 10%;
    position: absolute;

}

.logo, #login {
    width: 20%;
    height: 100%;
    float: left;
}

#nav {
    width: 60%;
    height: 100%;
    float: left;
}

.logo>img {
    width: 60%;
} 

#accedi {
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-radius: 2rem;
    padding: .5rem;
    width: 40%;
    color: #2a5ee8;
}

.logo, #nav, #login {
    padding: 2rem 0;
}

#nav>h3 {
    display: inline-block;
    text-align: center;
    margin: .5rem;
    font-size: 16px;
    color: white;
}
/* fine header */

main>div {
    width: 100%;
    height: 600px;
    color: #23272a;
}

#banner>div {
    color: white;
    width: 42%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;

}

#banner h1 {
    height: 60px;
}
#banner p {
    font-size: ;
}
#banner h2 {
    padding: .5rem;
    font-size: 16px;
    border-radius: 2rem;
    float: left;
}
#mac {
    background-color: white;
    color: #23272a;
    width: 40%;
    margin-right: 5%;
    margin-top: 1rem;
}
#browser {
    background-color: #23272a;
    width: 55%;
    margin-top: 1rem;
}

main .container {
    width: 80%;
    height: 90%;
    margin: 5% 10%;
}

.preview, .description{
    height: 100%;
    float: left;
}

.preview {
    width: 70%;
}

.description {
    line-height: 50px;
    font-size: 25px;
    width: 30%;
}
.description>p {
    font-size: 20px;
    margin-top: 2rem;
    line-height: 30px;
}

#voice, #technology {
    background-color: #f6f6f6;
}
#chat, #voice, #roles {
    padding: 2rem;
}

#technology {
    text-align: center;
    height: 900px;
}

#technology>div {
    height: 100%;
    width: 60%;
    margin: 0 20%;
    padding-top: 4rem;

}

#technology h3 {
    margin: 2rem auto;
    line-height: 50px;
    font-size: 16px;
    width: 10rem;
    color: white;
    border-radius: 2rem;
    background-color: #8da2e0;
}
#technology h2 {
    margin: 0 auto;
    width: 24rem;
    background-image: url(./img/stars.svg);
    background-size: contain;
}
/* fine main */

footer>div {
    background-color: #23272a;
}

footer h2 {
    font-size: 15px;
    color: white;
}

.violet {
    color: #8da2e0;
}

footer .container {
    height: 100%;
    width: 80%;
    margin: 0 10%;
    padding-top: 2rem;
}

.link {
    line-height: 40px;
    width: 15%;
    height: 100%;
}

.social {
    font-size: 19px;
    width: 40%;
}

.container>div {
    float: left;
}
select {
    text-decoration: none;
}

.logo2 {
    position: absolute;
    left: 0%;
    width: 8rem;
}

.signin {
    width: 8rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 2rem;
    padding: .5rem;
    color: white;
    background-color: #8da2e0;
    position: absolute;
    right: 0%;
}

.foot {
    position: relative;
}
/* fine footer */