/* reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* debug rules */
.debug .menu {
    height: 100px;
    background-color: pink;
}

main>div {
    height: 200px;
}

.debug .section1 {
    background-color: blue;
}

.debug .section2 {
    background-color: lightgrey;
}

.debug .section3 {
    background-color: gray;
}

.debug .section4 {
    background-color: lightgrey;
}

.debug .section5 {
    background-color: gray;
}

.debug .contatti {
    height: 250px;
    background-color: lightblue;
}

.debug .container {
    width: 60%;
    height: 100%;
    margin: 0 20%;
    background-color: white;
    opacity: 0.5;
}